@import "/web/20061205192855cs_/http://www.roblox.com/CSS/ChangePassword.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/CreateUserWizard.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/DataList.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/DetailsView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/FormView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/GridView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/Login.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/LoginStatus.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/Menu.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/PasswordRecovery.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/TreeView.css";

/*
     FILE ARCHIVED ON 19:28:55 Dec 05, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:36:55 Mar 04, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.211
  esindex: 0.014
  CDXLines.iter: 13.749 (3)
  captures_list: 1170.695
  RedisCDXSource: 43.467
  load_resource: 131.246
  exclusion.robots.policy: 0.197
  LoadShardBlock: 1108.103 (3)
  PetaboxLoader3.datanode: 309.726 (4)
  PetaboxLoader3.resolve: 926.813 (2)
*/