#AlreadyInstalled
{
	display: none; 
	font-size: x-large; 
	color: Red;
	margin: 44px 44px 44px 44px;
}

#AlreadyInstalled a
{
	text-decoration: underline;
}

/*
     FILE ARCHIVED ON 19:43:02 Dec 05, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 18:36:54 Mar 04, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  PetaboxLoader3.resolve: 117.19
  captures_list: 271.462
  RedisCDXSource: 76.832
  CDXLines.iter: 14.106 (3)
  exclusion.robots.policy: 0.117
  LoadShardBlock: 176.762 (3)
  PetaboxLoader3.datanode: 365.766 (4)
  exclusion.robots: 0.126
  load_resource: 307.819
  esindex: 0.017
*/