@import "/web/20061205192855cs_/http://www.roblox.com/CSS/ChangePassword.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/CreateUserWizard.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/DataList.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/DetailsView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/FormView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/GridView.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/Login.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/LoginStatus.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/Menu.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/PasswordRecovery.css";
@import "/web/20061205192855cs_/http://www.roblox.com/CSS/TreeView.css";

/*
     FILE ARCHIVED ON 19:28:55 Dec 05, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:35:29 Mar 04, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 203.802
  exclusion.robots: 0.347
  RedisCDXSource: 10.236
  exclusion.robots.policy: 0.322
  LoadShardBlock: 168.81 (3)
  CDXLines.iter: 19.159 (3)
  PetaboxLoader3.resolve: 69.491 (2)
  PetaboxLoader3.datanode: 256.731 (4)
  load_resource: 173.47
  esindex: 0.023
*/