#InboxContainer
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	padding: 10px 10px 10px 10px;
}

#Inbox #Buttons
{
	margin: 10px 0px 10px 0px;
}

#Inbox #Buttons .Button
{
	border-style: solid;
	border-width: 1px;
	border-color: #000000;
	color: #000000;
	font-family: Verdana, Sans-Serif;
	padding: 3px 10px 3px 10px;
	text-decoration: none;
}
/*
     FILE ARCHIVED ON 19:26:56 Dec 05, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:35:30 Mar 04, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 16.731
  exclusion.robots: 0.118
  esindex: 0.009
  captures_list: 570.222
  exclusion.robots.policy: 0.11
  CDXLines.iter: 11.357 (3)
  LoadShardBlock: 539.227 (3)
  load_resource: 212.343
  PetaboxLoader3.datanode: 623.321 (4)
  PetaboxLoader3.resolve: 107.627
*/