#AlreadyInstalled
{
	display: none; 
	font-size: x-large; 
	color: Red;
	margin: 44px 44px 44px 44px;
}

#AlreadyInstalled a
{
	text-decoration: underline;
}

/*
     FILE ARCHIVED ON 19:43:02 Dec 05, 2006 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 17:35:29 Mar 04, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  RedisCDXSource: 5.052
  exclusion.robots: 0.175
  esindex: 0.011
  captures_list: 160.915
  exclusion.robots.policy: 0.162
  CDXLines.iter: 12.69 (3)
  LoadShardBlock: 139.866 (3)
  load_resource: 70.182
  PetaboxLoader3.datanode: 156.557 (4)
  PetaboxLoader3.resolve: 51.583
*/